doctype html
title Website bán hàng
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
base(href='https://www.w3schools.com/')
link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open Sans')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style.
  h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
  body {font-family: "Open Sans"}
// Navigation bar with social media icons
.w3-bar.w3-black.w3-hide-small
  a.w3-bar-item.w3-button(href='#')
    i.fa.fa-facebook-official
  a.w3-bar-item.w3-button(href='#')
    i.fa.fa-instagram
  a.w3-bar-item.w3-button(href='#')
    i.fa.fa-snapchat
  a.w3-bar-item.w3-button(href='#')
    i.fa.fa-flickr
  a.w3-bar-item.w3-button(href='#')
    i.fa.fa-twitter
  a.w3-bar-item.w3-button(href='#')
    i.fa.fa-linkedin
  a.w3-bar-item.w3-button.w3-right(href='#')
    i.fa.fa-search
//
  w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content, except for the footer in this example
.w3-content(style='max-width:1600px')
  // Header
  header.w3-container.w3-center.w3-padding-48.w3-white
    h1.w3-xxxlarge
      b JANE BLOGLIFE
    h6
      | Welcome to the blog of 
      span.w3-tag Jane&apos;s world
  // Image header
  header#home.w3-display-container.w3-wide
    img.w3-image(src='/w3images/jane.jpg', alt='Fashion Blog', width='1600', height='1060')
    .w3-display-left.w3-padding-large
      h1.w3-text-white Jane&apos;s
      h1.w3-jumbo.w3-text-white.w3-hide-small
        b FASHION BLOG
      h6
        button.w3-button.w3-white.w3-padding-large.w3-large.w3-opacity.w3-hover-opacity-off(onclick="document.getElementById('subscribe').style.display='block'") SUBSCRIBE
  // Grid
  .w3-row.w3-padding.w3-border
    // Blog entries
    .w3-col.l8.s12
      // Blog entry
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-center
          h3 TITLE HEADING
          h5
            | Title description, 
            span.w3-opacity May 2, 2016
        .w3-justify
          img.w3-padding-16(src='/w3images/girl_hat.jpg', alt='Girl Hat', style='width:100%')
          p
            strong More Hats!
            |  I am crazy about hats these days. Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor
            |             magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          p
            | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
          p.w3-right
            button#myBtn.w3-button.w3-black(onclick="myFunction('demo1')")
              b Replies &nbsp;
              span.w3-tag.w3-white 1
          p.w3-clear
          #demo1.w3-row.w3-margin-bottom(style='display:none')
            hr
            .w3-col.l2.m3
              img(src='/w3images/avatar_smoke.jpg', style='width:90px;')
            .w3-col.l10.m9
              h4
                | George 
                span.w3-opacity.w3-medium May 3, 2015, 6:32 PM
              p Great blog post! Following
      hr
      // Blog entry
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-center
          h3 TITLE HEADING
          h5
            | Title description, 
            span.w3-opacity April 23, 2016
        .w3-justify
          img.w3-padding-16(src='/w3images/man_hat.jpg', alt='Men in Hats', style='width:100%')
          p
            strong Hats!
            |  The trend this summer is hats for men!
          p
            | Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
            | mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
          p.w3-right
            button.w3-button.w3-black(onclick="myFunction('demo2')")
              b Replies &nbsp;
              span.w3-tag.w3-white 2
          p.w3-clear
          // Example of comment field
          #demo2(style='display:none')
            .w3-row
              hr
              .w3-col.l2.m3
                img(src='/w3images/girl_train.jpg', style='width:90px;')
              .w3-col.l10.m9
                h4
                  | Amber 
                  span.w3-opacity.w3-medium April 26, 2015, 10:52 PM
                p
                  | Love your blog page! Simply the best! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                br
            .w3-row.w3-margin-bottom
              .w3-col.l2.m3
                img(src='/w3images/girl.jpg', style='width:90px;')
              .w3-col.l10.m9
                h4
                  | Angie 
                  span.w3-opacity.w3-medium April 23, 2015, 9:12 PM
                p Love hats!!
      // Blog entry
      .w3-container.w3-white.w3-margin.w3-padding-large
        .w3-center
          h3 TITLE HEADING
          h5
            | Title description, 
            span.w3-opacity April 7, 2016
        .w3-justify
          img.w3-padding-16(src='/w3images/runway.jpg', alt='Runway', style='width:100%')
          p
            strong Dont miss!
            |  The runway in New York City this weekend is gonna be legendary!
          p
            | Some text about this blog entry. Fashion fashion and mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies
            | mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
          p.w3-left
            button.w3-button.w3-white.w3-border(onclick='likeFunction(this)')
              b
                i.fa.fa-thumbs-up
                |  Like
          p.w3-right
            button.w3-button.w3-black(onclick="myFunction('demo3')")
              b Replies &nbsp;
              span.w3-tag.w3-white 3
          p.w3-clear
          // Example of comment field
          #demo3(style='display:none')
            hr
            .w3-row.w3-margin-bottom
              .w3-col.l2.m3
                img(src='/w3images/girl_mountain.jpg', style='width:90px;')
              .w3-col.l10.m9
                h4
                  | Jane 
                  span.w3-opacity.w3-medium April 10, 2015, 7:22 PM
                p That was a great runway show! Thanks for everything.
            .w3-row.w3-margin-bottom
              .w3-col.l2.m3
                img(src='/w3images/boy.jpg', style='width:90px;')
              .w3-col.l10.m9
                h4
                  | John 
                  span.w3-opacity.w3-medium April 8, 2015, 10:32 PM
                p
                  | Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            .w3-row.w3-margin-bottom
              .w3-col.l2.m3
                img(src='/w3images/girl_hood.jpg', style='width:90px;')
              .w3-col.l10.m9
                h4
                  | Anja 
                  span.w3-opacity.w3-medium April 7, 2015, 9:12 PM
                p Cant wait for the runway to start!
      // END BLOG ENTRIES
    // About/Information menu
    .w3-col.l4
      // About Card
      .w3-white.w3-margin
        img.w3-grayscale(src='/w3images/avatar_girl2.jpg', alt='Jane', style='width:100%')
        .w3-container.w3-black
          h4 My Name
          p
            | Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.
      hr
      // Posts
      .w3-white.w3-margin
        .w3-container.w3-padding.w3-black
          h4 Popular Posts
        ul.w3-ul.w3-hoverable.w3-white
          li.w3-padding-16
            img.w3-left.w3-margin-right(src='/w3images/avatar_smoke.jpg', alt='Image', style='width:50px')
            span.w3-large Denim
            br
            span Sed mattis nunc
          li.w3-padding-16
            img.w3-left.w3-margin-right(src='/w3images/bandmember.jpg', alt='Image', style='width:50px')
            span.w3-large Sweaters
            br
            span Praes tinci sed
          li.w3-padding-16
            img.w3-left.w3-margin-right(src='/w3images/workshop.jpg', alt='Image', style='width:50px')
            span.w3-large Workshop
            br
            span Ultricies congue
          li.w3-padding-16
            img.w3-left.w3-margin-right.w3-sepia(src='/w3images/avatar_smoke.jpg', alt='Image', style='width:50px')
            span.w3-large Trends
            br
            span Lorem ipsum dipsum
      hr
      // Advertising
      .w3-white.w3-margin
        .w3-container.w3-padding.w3-black
          h4 Advertise
        .w3-container.w3-white
          .w3-container.w3-display-container.w3-light-grey.w3-section(style='height:200px')
            span.w3-display-middle Your AD Here
      hr
      // Tags
      .w3-white.w3-margin
        .w3-container.w3-padding.w3-black
          h4 Tags
        .w3-container.w3-white
          p
            span.w3-tag.w3-black.w3-margin-bottom Fashion
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom New York
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom London
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Hats
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Norway
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Sweaters
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Ideas
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Deals
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Accessories
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom News
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Clothing
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Shopping
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Jeans
            span.w3-tag.w3-light-grey.w3-small.w3-margin-bottom Trends
      hr
      // Inspiration
      .w3-white.w3-margin
        .w3-container.w3-padding.w3-black
          h4 Inspiration
        .w3-row-padding.w3-white
          .w3-col.s6
            p
              img(src='/w3images/jeans.jpg', alt='Jeans', style='width:100%')
            p
              img(src='/w3images/team1.jpg', alt='Jeans', style='width:100%')
          .w3-col.s6
            p
              img.w3-grayscale(src='/w3images/avatar_hat.jpg', alt='Men in Hats', style='width:100%')
            p
              img(src='/w3images/team4.jpg', alt='Jeans', style='width:100%')
      hr
      .w3-white.w3-margin
        .w3-container.w3-padding.w3-black
          h4 Follow Me
        .w3-container.w3-xlarge.w3-padding
          i.fa.fa-facebook-official.w3-hover-opacity
          i.fa.fa-instagram.w3-hover-opacity
          i.fa.fa-snapchat.w3-hover-opacity
          i.fa.fa-pinterest-p.w3-hover-opacity
          i.fa.fa-twitter.w3-hover-opacity
          i.fa.fa-linkedin.w3-hover-opacity
      hr
      // Subscribe
      .w3-white.w3-margin
        .w3-container.w3-padding.w3-black
          h4 Subscribe
        .w3-container.w3-white
          p Enter your e-mail below and get notified on the latest blog posts.
          p
            input.w3-input.w3-border(type='text', placeholder='Enter e-mail', style='width:100%')
          p
            button.w3-button.w3-block.w3-red(type='button', onclick="document.getElementById('subscribe').style.display='block'") Subscribe
      // END About/Intro Menu
    // END GRID
  // END w3-content
// Subscribe Modal
#subscribe.w3-modal.w3-animate-opacity
  .w3-modal-content(style='padding:32px')
    .w3-container.w3-white
      i.fa.fa-remove.w3-transparent.w3-button.w3-xlarge.w3-right(onclick="document.getElementById('subscribe').style.display='none'")
      h2.w3-wide SUBSCRIBE
      p
        | Join my mailing list to receive updates on the latest blog posts and other things.
      p
        input.w3-input.w3-border(type='text', placeholder='Enter e-mail')
      button.w3-button.w3-block.w3-padding-large.w3-red.w3-margin-bottom(type='button', onclick="document.getElementById('subscribe').style.display='none'") Subscribe
// Footer
footer.w3-container.w3-dark-grey(style='padding:32px')
  a.w3-button.w3-black.w3-padding-large.w3-margin-bottom(href='#')
    i.fa.fa-arrow-up.w3-margin-right
    | To the top
  p
    | Powered by 
    a(href='https://www.w3schools.com/w3css/default.asp', target='_blank') w3.css
script.
  // Toggle between hiding and showing blog replies/comments
  document.getElementById("myBtn").click();
  function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
  x.className += " w3-show";
  } else {
  x.className = x.className.replace(" w3-show", "");
  }
  }
  function likeFunction(x) {
  x.style.fontWeight = "bold";
  x.innerHTML = "✓ Liked";
  }
