doctype html
head
  title Hi hi
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
p
  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repudiandae cupiditate id eum doloribus excepturi aliquid amet, porro possimus consectetur expedita velit obcaecati laboriosam nesciunt reprehenderit at ullam, autem dicta.
